@import './../../../constants.scss';

.gender-filter {
    @extend %flex-row-center;
    justify-content: flex-start;
    width: 90%;
    height: 45px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: rgb(180, 180, 180);
    box-shadow: 1px 1px 5px black;

    .name {
        margin-right: 15px;
    }

    ul {
        @extend %flex-row-center;
        list-style: none;

        li {
            margin-right: 15px;

            input {
                margin-right: 4px;
            }
            
            label:hover {
                cursor: pointer;
            }
        }
    }
}